<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="assets/css/about.css" rel="stylesheet">
    <link rel="icon" href="https://image.flaticon.com/icons/svg/1598/1598167.svg">
    <title>About us</title>
</head>
<body>
    <section id="section01" class="demo">
        <h1>About Us</h1>
        <p>O intuito desse projeto é ensinar as pessoas a fazerem a separação<br> do lixo e depositar em lugares adequados para cada qual, com<br> o incentivo de bonificação a cada boa ação realizada.</p>
        <a href="#section02"><span></span>Scroll</a>
      </section>
      <section id="section02" class="demo">
        <h1>Team</h1>
        <p>
            Andrey Silva Silveira<br>
            João Felipe Schwab Teixeira dos Santos<br>
            Kalebe Rodrigues Szlachta<br>
            Matheus Willhelm Siqueira<br>
            Ricardo Naoki Tanji<br>
        </p>
        <a href="#section03"><span></span>Scroll</a>
      </section>
        <!-- <section id="section03" class="demo">
          <h1>FAQ'S</h1>
          <p class="pergunta">Por que reciclar?
              <p class="resposta">
                  O mundo esta cada vez mais perto de chegar no limte de fornecimento de recursos <br>naturais para produção de novos produtos.<br><br>

                  Por isso a importância da reciclagem. Ela reduz significativamente o impacto sobre o meio<br> ambiente diminuindo as retiradas de matéria prima da natureza, gerando economia de água e energia e <br>reduzindo disposição inadequada do lixo.<br>
              </p>
          </p>
          <a href="#section04"><span></span>Scroll</a>
        </section> -->
      <section id="thanks">
        <div>
          <h2>Thanks!</h2>
          <p><a href="home.html" target="_parent">&lt; Back to home</a></p>
        </div>
      </section>
    <script type="text/javascript" src="assets/js/about.js"></script>
</body>
</html> 