<html>

<head>
    <link href="assets/css/exchange-style.css" rel="stylesheet">
</head>

<body>
    <main>
      <div class="split left">
        <div>
          <h3 class="labeled">TRASH DEALERS</h3>
        </div>
        <div>
          <button onclick="trash.points_page()" class="points-button">HOME</button>
          <button onclick="trash.back_page()" class="points-button">LOGOUT</button>
        </div>
      </div>
      
      <div class="split right">
        <div>
            <button onclick='trash.food_page()' class="box" style="left: 10%;">
                <img class="left-img" src="assets/img/food.svg">
                <div style="padding-top: 10%;">
                    FOOD
                </div>
            </button>
            <button onclick='trash.sales_page()' class="box" style="left: 40%;">
                <img class="left-img" src="assets/img/coupon.svg">
                <div style="padding-top: 10%;">
                    SALES
                </div>
            </button>
            <button onclick='trash.work_page()' class="box" style="left: 70%;">
                <img class="left-img" src="assets/img/new-product.svg">
                <div style="padding-top: 10%;">
                    PRODUCTS
                </div>
            </button>
        </div>
      </div>
    </main>
</body>

<script type="text/javascript" src="assets/js/scripts.js">
</script>

</html>
