<html>

<head>
    <script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
    <link href="assets/css/work-style.css" rel="stylesheet">
</head>

<body>
    <main>
      <div class="split left">
        <div>
            <h3 class="labeled">TRASH DEALERS</h3>
          </div>
          <div>
            <button style="color: rgb(56, 55, 55);" onclick="trash.points_page()" class="points-button">HOME</button>
          </div>
          <div>
            <button style="color: rgb(56, 55, 55);" onclick="trash.exchange_page()" class="points-button">Exchange</button>
          </div>
      </div>
      
      <div class="split right">
        <div>
          <button style="color: rgb(56, 55, 55);" onclick="trash.pay_point(1000)" class="points-button">Arroz de forno 1000</button>
        </div>
        <div>
          <button style="color: rgb(56, 55, 55);" onclick="trash.pay_point(50)" class="points-button">Chocolate quente 50</button>
        </div>
        <div>
          <button style="color: rgb(56, 55, 55);" onclick="trash.pay_point(500)" class="points-button">Cerveja 500</button>
        </div>
      </div>
    </main>
</body>

<script type="text/javascript" src="assets/js/scripts.js">
</script>

</html>
