<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="assets/css/bootstrap.css">
    <link rel="stylesheet" href="assets/css/home.css">
    <link rel="icon" href="https://image.flaticon.com/icons/svg/1598/1598167.svg">
    <title>Home</title>
</head>
<body>
      <nav class="navbar navbar-expand-md navbar-light bg-light fixed-top py-3 box-shadow">
        <a href="home.html" class="navbar-brand">
          <img src="assets/img/logo32.svg" alt="Caravan">
        </a>
        
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Abrir Navegação">
          <span class="navbar-toggler-icon"></span>
        </button>
        
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
          <ul class="navbar-nav ml-auto">
            <li class="nav-item">
              <a class="nav-link" href="about.html">About Us</a>
            </li>
            <!-- <li class="nav-item">
              <a class="nav-link" href="contato.html">Contato</a>
            </li> -->
            <li class="nav-item">
              <a class="nav-link" href="index.html">Login</a>
            </li>
          </ul>
        </div>
      </nav>
      
      <section class="container-fluid">
        <div class="row bg-dark text-white">
         
          <div class="col-lg-7 p-0">
            <div id="carouselCidades" class="carousel slide" data-ride="carousel">
              <ol class="carousel-indicators">
                <li data-target="#carouselCidades" data-slide-to="0" class="active"></li>
                <li data-target="#carouselCidades" data-slide-to="1"></li>
                <!-- <li data-target="#carouselCidades" data-slide-to="2"></li> -->
              </ol>
              <div class="carousel-inner">
                <div class="carousel-item active">
                  <img class="d-block w-100" src="assets/img/Lixeiras-Reciclaveis-01-1024x568.png" alt="Tipos de lixos">
                  <div class="carousel-caption">
                  </div>
                </div>
                <div class="carousel-item">
                  <img class="d-block w-100" src="assets/img/Lixeiras-Reciclaveis-02-1024x568.png" alt="Tipos de lixos">
                  <div class="carousel-caption">
                  </div>
                </div>
                <!-- <div class="carousel-item">
                  <img class="d-block w-100" src="assets/img/thumb-post-blog-netmove-dia-mundial-reciclagem-ecomove-17-1732x866.jpg" alt="California">
                  <div class="carousel-caption">
                  </div>
                </div> -->
              </div>
              <a class="carousel-control-prev" href="#carouselCidades" role="button" data-slide="prev">
                <span class="carousel-control-prev-icon" aria-hidden="true"></span>
                <span class="sr-only">Anterior</span>
              </a>
              <a class="carousel-control-next" href="#carouselCidades" role="button" data-slide="next">
                <span class="carousel-control-next-icon" aria-hidden="true"></span>
                <span class="sr-only">Próximo</span>
              </a>
            </div>
          </div>
          
          <div class="col-lg-5 p-4 align-self-center">
            <h1 class="display-4">Realize uma boa ação</h1>
            <p class="lead">O caminho mais simples para mudar o mundo começa no separo do lixo.<br><br>
              O Brasil é o recordista mundial em reciclagem de latas de alumínio. Em 2012, 98% da produção nacional foi reaproveitada. Os números brasileiros batem países industrializados como Japão (92%), Estados Unidos (65%), Inglaterra (65%), Alemanha (64%) e Itália (64%).
            </p>
          </div>
          
        </div>
      </section>
      
      <section class="py-5 bg-light text-center">
        <div class="container">
          <div class="my-5">
            <span class="h6 d-block">TUDO DE MELHOR PARA VOCÊ</span>
            <h2 class="display-4 text-success">Aproveite as Vantagens</h2>
          </div>
          <div class="row">
            <div class="col-xl-4 col-md-6">
              <div style="height: 100px;" class="d-flex justify-content-center">
                <img src="assets/img/giftgrande.svg" alt="Passaporte">
              </div>
              <h3>Brindes</h3>
              <p>Troque seus pontos por brindes na loja.</p>
            </div>
            
            <div class="col-xl-4 col-md-6">
              <div style="height: 100px;" class="d-flex justify-content-center">
                <img src="assets/img/dollar-sign.svg" alt="Passagens">
              </div>
              <h3>Descontos</h3>
              <p>Confira os parceiros e troque seus pontos por descontos!</p>
            </div>
            
            <div class="col-xl-4 col-md-6">
              <div style="height: 100px;" class="d-flex justify-content-center">
                <img src="assets/img/truck.svg" alt="Translado">
              </div>
              <h3>Entrega</h3>
              <p>Escolha quando e onde você deseja fazer a sua entrega do material.</p>
            </div>
            
            <div class="col-xl-4 col-md-6">
              <div style="height: 100px;" class="d-flex justify-content-center">
                <img src="assets/img/zap.svg" alt="Praias">
              </div>
              <h3>Pontos</h3>
              <p>Conheça o sistema de pontos do programa.</p>
            </div>
            
            <div class="col-xl-4 col-md-6">
              <div style="height: 100px;" class="d-flex justify-content-center">
                <img src="assets/img/thumbs-up.svg" alt="Bagagens">
              </div>
              <h3>Comunidade</h3>
              <p>Compartilhe as suas experiencias com a comunidade.</p>
            </div>
            
            <div class="col-xl-4 col-md-6">
              <div style="height: 100px;" class="d-flex justify-content-center">
                <img src="assets/img/github.svg" alt="Turismo">
              </div>
              <h3>Github</h3>
              <p>Colabore com o projeto no <a href="https://www.github.com">github</a>.</p>
            </div>
            
          </div>  
        </div>
      </section>
      
      <section id="home-quote" class="p-md-5" >
        <blockquote class="blockquote text-center text-white p-md-5 p-3">
          <p  class="display-4"><em>"Refrigera minha alma e guia-me pelo caminho da justiça."</em></p>
          <footer class="blockquote-footer text-white">Racionais, Capítulo 4 Versículo 3.</footer>
        </blockquote>
      </section>
      
      <section class="container">
        <div class="my-5 text-center">
          <span class="h6 d-block">AINDA ESTÁ COM DÚVIDAS?</span>
          <h2 class="display-4 text-success">Perguntas Frequentes</h2>
        </div>
        <div class="row justify-content-center">
          <div class="col-md-6" id="perguntasFrequentes" data-children=".pergunta">
            <div class="pergunta py-2">
              <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta1" aria-expanded="true" aria-controls="pergunta1">→ O que é permitido no TrashDealers?</a>
              <div id="pergunta1" class="collapse show" role="tabpanel">
                <p>Podemos já vislumbrar o modo pelo qual o julgamento imparcial das eventualidades agrega valor ao estabelecimento do sistema de participação geral.</p>
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="pergunta py-2">
              <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta2" aria-expanded="true" aria-controls="pergunta2">→ Posso cancelar minha assinatura a qualquer momento?</a>
              <div id="pergunta2" class="collapse" role="tabpanel">
                <p>Do mesmo modo, a consolidação das estruturas deve passar por modificações independentemente das condições financeiras e administrativas exigidas.</p>
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="pergunta py-2">
              <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta3" aria-expanded="true" aria-controls="pergunta3">→ Os materiais são realmente reciclados?</a>
              <div id="pergunta3" class="collapse" role="tabpanel">
                <p>É importante questionar o quanto o surgimento do comércio virtual aponta para a melhoria dos paradigmas corporativos.</p>
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="pergunta py-2">
              <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta4" aria-expanded="true" aria-controls="pergunta4">→ Você também pega itens volumosos e pesados?</a>
              <div id="pergunta4" class="collapse" role="tabpanel">
                <p>Nunca é demais lembrar o peso e o significado destes problemas, uma vez que o desafiador cenário globalizado talvez venha a ressaltar a relatividade do fluxo de informações.</p>
              </div>
            </div>
            <div class="dropdown-divider"></div>
            <div class="pergunta py-2">
              <a class="lead" data-toggle="collapse" data-parent="#perguntasFrequentes" href="#pergunta5" aria-expanded="true" aria-controls="pergunta5">→ Vocês dão descontos para grupos grandes?</a>
              <div id="pergunta5" class="collapse" role="tabpanel">
                <p>É claro que a contínua expansão de nossa atividade aponta para a melhoria das novas proposições.</p>
              </div>
            </div>
            <div class="dropdown-divider"></div>
          </div>
        </div>
      </section>
      
      <footer class="bg-dark text-white mt-5">
        <div class="bg-success text-center py-3">
          <p class="mb-0">TrashDealers © 2020. Alguns direitos reservados.</p>
        </div>
      </footer>

    <script type="text/javascript" src="assets/js/jquery-3.4.1.slim.min.js"></script>
    <script type="text/javascript" src="assets/js/popper.min.js"></script>
    <script type="text/javascript" src="assets/js/bootstrap.js"></script>
</body>
</html>