<html>

<head>
    <script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
    <link href="assets/css/style.css" rel="stylesheet">
</head>

<body>
    <main>
      <div class="split left">
        <div class="centered">
          <div>
            <img class="right-img" src="assets/img/Trash dealers.png">
          </div>
        </div>
      </div>
      
      <div class="split right">
        <div class="centered">
          <h1 style='color: #546E7A;'>USER LOGIN</h1>
          <h4 style='color: #546E7A;'>Welcome back</h4>
          <form>
            <div>
              <img class="left-img" src="assets/img/id-card.svg">
            </div>
            <input type="text" id="email" name="firstname" placeholder="Your email" value="">
            <div>
              <img class="left-img" src="assets/img/lock.svg">
            </div>
            <input type="password" id="pw" name="lastname" placeholder="Your password" value="">
          
          </form>
          <button onclick="trash.change_page()">SUBMIT</button>
          <button style="margin-top: 10px;" onclick="trash.create_page()">CREATE ACCOUNT</button>
        </div>
      </div>
    </main>
</body>

<script type="text/javascript" src="assets/js/scripts.js">
</script>

</html>
