<html>

<head>
    <script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
    <link href="assets/css/points-style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
</head>

<body onload='trash.load_points();'>
    <main>
      <div class="split left" id="menu">
        <div>
          <h3 class="labeled">TRASH DEALERS</h3>
        </div>
        <div>
          <button onclick="trash.exchange_page()" class="points-button">Exchange points</button>
          <button onclick="trash.recycle_page()" class="points-button">Recycle</button>
          <button onclick="trash.chart_page()" class="points-button">Usage</button>
          <button onclick="trash.back_page()" class="points-button">Logout</button>
        </div>
      </div>
      
      <div class="split right" id ="right">
        <button class="abre_fecha" id="abre_fecha" onclick="trash.open_sidebar()">
          <p class="lines" style="margin-left:0px;"></p>
          <p class="lines"></p>
        </button>
        <div class="centered">
            <h1 style='color: white;'>USER POINTS</h1>
            <h1 id="points" style='font-size:60px; color: white;'></h1>
        </div>
      </div>
    </main>
</body>
<script type="text/javascript" src="assets/js/scripts.js">
</script>

</html>
