<html>

<head>
    <script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
    <link href="assets/css/work-style.css" rel="stylesheet">
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans" />
    <meta charset="UTF-8">
</head>

<body onload="trash.load_points()">
    <main>
        <div class="split left" id="menu">
            <div>
                <h3 class="labeled">TRASH DEALERS</h3>
            </div>
            <div>
                <button style="color: rgb(56, 55, 55);" onclick="trash.points_page()" class="points-button">Home</button>
                <button style="color: rgb(56, 55, 55);" onclick="trash.recycle_page()"  class="points-button">Recycle</button>
                <button style="color: rgb(56, 55, 55);" onclick="trash.chart_page()" class="points-button">Usage</button>
                <button style="color: rgb(56, 55, 55);" onclick="trash.back_page()" class="points-button">Logout</button>
            </div>
        </div>
        
        
        <div class="split right" id="right">

            <button class="abre_fecha" id="abre_fecha" onclick="trash.open_sidebar()">
                <p class="lines" style="margin-left:0px;"></p>
                <p class="lines"></p>
            </button>

            <div class="sale_home">
                <div class="info_home">
                <p class="title">GASTE OS SEUS PONTOS AQUI</p>
                <p class="subtitle">Seu saldo de pontos é</p>
                <p id="points" class="title"></p>
                <p class="subtitle" style="font-size:13px;">Para consultar os produtos, clique no botao abaixo</p>
                <button onclick="trash.botaoscroll()" >Conferir!</button>
                </div>
            </div>


            <div class="sale_offers" id="right_2">
                <div>
                <button style="color: rgb(56, 55, 55);"  onmouseover="trash.show(change1, changeReverse1)" onmouseout="trash.hide(change1,changeReverse1)" class="points-button2">
                    <img class="logos" id="changeReverse1" src="assets/img/logo-adidas.png" onclick="trash.abrejanela(this.id)">
                    <div class="infoProduct" id="change1">
                        <p style="padding: 30px; color: #424242; font-weight: bold;">Para trocar por 50$ off na Adidas clique aqui!</p>
                    </div>
                </button>
                </div>
                <div>
                    <button style="color: rgb(56, 55, 55);" onmouseover="trash.show(change2, changeReverse2)" onmouseout="trash.hide(change2,changeReverse2)" class="points-button2">
                        <img  class="logos" id="changeReverse2" src="assets/img/logo-centauro.png" onclick="trash.abrejanela(this.id)">
                        <div class="infoProduct" id="change2">
                            <p style="padding: 30px; color: #424242; font-weight: bold;">Para trocar por 20% off na Centauro clique aqui!</p>
                        </div>
                    </button>
                </div>
                <div>
                    <button style="color: rgb(56, 55, 55);"  onmouseover="trash.show(change3, changeReverse3)" onmouseout="trash.hide(change3,changeReverse3)" class="points-button2">
                        <img class="logos" id="changeReverse3" src="assets/img/logo-extra.png" onclick="trash.abrejanela(this.id)">
                        <div class="infoProduct" id="change3">
                            <p style="padding: 30px; color: #424242; font-weight: bold;">Para trocar por 35$ off no Extra clique aqui!</p>
                        </div>
                    </button>
                </div>
                <div>
                    <button style="color: rgb(56, 55, 55);"  onmouseover="trash.show(change4, changeReverse4)" onmouseout="trash.hide(change4,changeReverse4)" class="points-button2">
                        <img class="logos" id="changeReverse4" src="assets/img/logo-ifood.png" onclick="trash.abrejanela(this.id)">
                        <div class="infoProduct" id="change4">
                            <p style="padding: 30px; color: #424242; font-weight: bold;">Para trocar por 25% em 4 pedidos no Ifood clique aqui!</p>
                        </div>
                    </button>
                </div>
                <div>
                    <button style="color: rgb(56, 55, 55);"  id="myBtn" onmouseover="trash.show(change5, changeReverse5)" onmouseout="trash.hide(change5,changeReverse5)" class="points-button2">
                        <img class="logos" id="changeReverse5" src="assets/img/logo-nike.png" onclick="trash.abrejanela(this.id)">
                        <div class="infoProduct" id="change5" >
                            <p style="padding: 30px; color: #424242; font-weight: bold;" >Para trocar por 85$ off na Nike clique aqui!</p>
                        </div>
                    </button>
                </div>
                <div id="myModal" class="modal">
                    <div class="modal-content">
                        <span class="close">&times;</span>
                        <div id="condicoes">
                        <!-- aqui é preenchido com as informacoes dos produtos quando aberto a box  -->
                        </div>
                        <button class="accept_offer_btn" onclick="trash.pay_point()"> Aceitar a oferta </button>
                    </div>
                </div>
            </div>
        </div>
    </main>
</body>

<script type="text/javascript" src="assets/js/scripts.js">
</script>

</html>
