<html>

<head>
    <script src='https://code.jquery.com/jquery-3.1.0.min.js'></script>
    <link href="assets/css/work-style.css" rel="stylesheet">
</head>

<body>
    <main>
      <div class="split left">
        <div>
            <h3 class="labeled">TRASH DEALERS</h3>
          </div>
          <div>
            <button style="color: rgb(56, 55, 55);" onclick="trash.points_page()" class="points-button">HOME</button>
          </div>
          <div>
            <button style="color: rgb(56, 55, 55);" onclick="trash.exchange_page()" class="points-button">Exchange</button>
            <button style="color: rgb(56, 55, 55);" onclick="trash.back_page()" class="points-button">LOGOUT</button>
          </div>
      </div>
      
      <div class="split right">
        <div>
          <button style="color: rgb(56, 55, 55);" onclick="trash.pay_point(100)" class="points-button">Lavar louça 100</button>
        </div>
        <div>
          <button style="color: rgb(56, 55, 55);" onclick="trash.pay_point(200)" class="points-button">Limpar o comodo 200</button>
        </div>
        <div>
          <button style="color: rgb(56, 55, 55);" onclick="trash.pay_point(1000)" class="points-button">Lavar o carro 1000</button>
        </div>
        <div>
          <button style="color: rgb(56, 55, 55);" onclick="trash.pay_point(300)" class="points-button">Passar a roupa 300</button>
        </div>
        <div>
          <button style="color: rgb(56, 55, 55);" onclick="trash.pay_point(250)" class="points-button">Lavar a garagem 250</button>
        </div>
      </div>
    </main>
</body>

<script type="text/javascript" src="assets/js/scripts.js">
</script>

</html>
