body { 
    overflow-x:hidden; 
    overflow-y:scroll 
    !important; 
    position: relative; 
    transition: all 0.3s linear; 
    top:0;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    width: 15%;
    background-color: #EEEEEE;
  }
  
  /* Control the right side */
  .right {
    right: 0;
    width: 85%;
    height: 100%;
    background-image: url("../img/803.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center center;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    width: 50%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }

  .centered div {
    margin: 0;
    padding: 0;
  }

  .points-button{
    background-color: #eee;
    color: #444;
    cursor: pointer;
    padding: 18px;
    width: 100%;
    border: none;
    text-align: left;
    outline: none;
    font-size: 15px;
  }

  .labeled {
    margin-top: 0;
    text-align: center;
  }

  .points-button:hover{
    background-color: #ccc;
  }


.box {
    position: absolute;
    width: 50%;
    top: 60%;
    border: none;
    text-align: center;
    border-radius: 25px;
    background: #73AD21;
    padding: 20px; 
    width: 200px;
    height: 150px;  
  }

  .box:hover {
    animation-name: bounce-1;
    cursor: pointer;
    animation-duration: 2s;
    animation-iteration-count: infinite;
 }
 
 .box img{
     width: 50%;
 }

@keyframes bounce-1 {
    0%   { transform: translateY(0); }
    50%  { transform: translateY(-100px); }
    100% { transform: translateY(0); }
}