body { 
    overflow-x:hidden; 
    overflow-y:scroll 
    !important; 
    position: relative; 
    transition: all 0.3s linear; 
    top:0;
}

.split {
    height: 100%;
    width: 50%;
    position: fixed;
    z-index: 1;
    top: 0;
    overflow-x: hidden;
    padding-top: 20px;
  }
  
  /* Control the left side */
  .left {
    left: 0;
    width: 35%;
    background-color: rgb(132, 178, 90);
  }
  
  /* Control the right side */
  .right {
    right: 0;
    width: 65%;
    background-color: #EEEEEE;
  }
  
  /* If you want the content centered horizontally and vertically */
  .centered {
    position: absolute;
    width: 35%;
    top: 45%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
  }
  
  /* Style the image inside the centered container, if needed */
  .left-img {
    width: 8%;
    float: left;
    padding-top: 12px;

  }

  .right-img {
    width: 150%;
    float: left;
    padding-top: 2%;
    margin-left: -25%;
  }

  .centered button{
    background-color: rgb(132, 178, 90); /* Green */
    border: none;
    color: white;
    padding: 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 8px;
    cursor: pointer;
    width: 60%;
  }
  .textp{
    color: #575757;
    font-family: "Candara";
    font-weight: bolder;

  }

  .centered div {
    margin: 0;
    padding: 0;
  }

  input[type=text], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.25s;
    outline: 0;
  }

  input[type=password], select {
    width: 80%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    transition: 0.25s;
    outline: 0;
  }

  
  input[type=submit] {
    width: 50%;
    background-color: #4CAF50;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    border: none;
    border-radius: 4px;
    cursor: pointer;
  }
  input[type = password]:focus, input[type = text]:focus {
    width:85%;
    border-color: #84b25a;
  }
  
  input[type=submit]:hover {
    background-color: #45a049;
  }